asgiref==3.11.0
beautifulsoup4==4.13.3
brotli==1.2.0
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.3.2
distlib==0.3.9
dj-database-url==3.1.2
Django==6.0.1
djangorestframework==3.15.2
filelock==3.16.1
gunicorn==25.3.0
h11==0.16.0
html5lib==1.1
idna==3.10
packaging==26.1
pdfkit==1.0.0
pillow==11.0.0
platformdirs==4.3.6
psycopg2-binary==2.9.11
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.1
subprocess.run==0.0.8
typing_extensions==4.13.0
urllib3==2.3.0
uvicorn==0.44.0
virtualenv==20.28.0
webencodings==0.5.1
whitenoise==6.12.0
